<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>HKCategoryTypeIdentifierSexualActivity</string>
		<key>type</key>
		<string>sex_action</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKCategoryTypeIdentifierIntermenstrualBleeding</string>
		<key>type</key>
		<string>inmenstrual</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKCategoryTypeIdentifierMenstrualFlow</string>
		<key>values</key>
		<array>
			<string></string>
			<string>unspecified</string>
			<string>light</string>
			<string>medium</string>
			<string>heavy</string>
		</array>
		<key>type</key>
		<string>menstrual</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKCategoryTypeIdentifierAppleStandHour</string>
		<key>values</key>
		<array>
			<string>stood</string>
			<string>idle</string>
		</array>
		<key>type</key>
		<string>stood_idle</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKCategoryTypeIdentifierSleepAnalysis</string>
		<key>values</key>
		<array>
			<string>in_bed</string>
			<string>asleep</string>
		</array>
		<key>type</key>
		<string>sleep</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierBodyMassIndex</string>
		<key>unit</key>
		<string>count</string>
		<key>type</key>
		<string>bmi</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierBodyFatPercentage</string>
		<key>unit</key>
		<string>%</string>
		<key>type</key>
		<string>body_fat</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierHeight</string>
		<key>unit</key>
		<string>m</string>
		<key>type</key>
		<string>height</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierBodyMass</string>
		<key>unit</key>
		<string>kg</string>
		<key>type</key>
		<string>weight</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierLeanBodyMass</string>
		<key>unit</key>
		<string>kg</string>
		<key>type</key>
		<string>lean_bmi</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierFlightsClimbed</string>
		<key>unit</key>
		<string>count</string>
		<key>type</key>
		<string>climbing</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierNikeFuel</string>
		<key>unit</key>
		<string>count</string>
		<key>type</key>
		<string>nike_fuel</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierAppleExerciseTime</string>
		<key>unit</key>
		<string>s</string>
		<key>type</key>
		<string>activity_duration</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierBodyTemperature</string>
		<key>unit</key>
		<string>degC</string>
		<key>type</key>
		<string>body_temp</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierOxygenSaturation</string>
		<key>unit</key>
		<string>%</string>
		<key>type</key>
		<string>blood_oxygen</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierBloodGlucose</string>
		<key>unit</key>
		<string>g/L</string>
		<key>type</key>
		<string>blood_sugar</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierRespiratoryRate</string>
		<key>unit</key>
		<string>count/min</string>
		<key>type</key>
		<string>respiration_rate</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierInhalerUsage</string>
		<key>unit</key>
		<string>count</string>
		<key>type</key>
		<string>inhaler_usage</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierBloodAlcoholContent</string>
		<key>unit</key>
		<string>%</string>
		<key>type</key>
		<string>blood_alcohol</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierUVExposure</string>
		<key>unit</key>
		<string>count</string>
		<key>type</key>
		<string>uv_exposure</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryBiotin</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>biotin</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryCaffeine</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>caffeine</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryCalcium</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>calcium</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryCarbohydrates</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>carbohydrate</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryChloride</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>chloride</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryCholesterol</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>cholesterol</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryChromium</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>chromium</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryCopper</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>copper</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryEnergyConsumed</string>
		<key>unit</key>
		<string>kcal</string>
		<key>type</key>
		<string>calories</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryFatMonounsaturated</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>monounsaturated_fat</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryFatPolyunsaturated</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>polyunsaturated_fat</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryFatSaturated</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>saturated_fat</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryFatTotal</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>fat_total</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryFiber</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>fiber</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryFolate</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>folate</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryIodine</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>iodine</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryIron</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>iron</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryMagnesium</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>magnesium</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryManganese</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>manganese</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryMolybdenum</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>molybdenium</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryNiacin</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>niacin</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryPantothenicAcid</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>pantothenic_acid</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryPhosphorus</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>phosphorus</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryPotassium</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>potassium</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryProtein</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>protein</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryRiboflavin</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>riboflavin</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietarySelenium</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>selenium</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietarySodium</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>sodium</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietarySugar</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>sugar</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryThiamin</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>thiamin</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryVitaminA</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>vitamin_a</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryVitaminB12</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>vitamin_b12</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryVitaminB6</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>vitamin_b6</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryVitaminC</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>vitamin_c</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryVitaminD</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>vitamin_d</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryVitaminE</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>vitamin_e</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryVitaminK</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>vitamin_k</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryWater</string>
		<key>unit</key>
		<string>L</string>
		<key>type</key>
		<string>water</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDietaryZinc</string>
		<key>unit</key>
		<string>g</string>
		<key>type</key>
		<string>zinc</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierBloodPressureSystolic</string>
		<key>unit</key>
		<string>mmHg</string>
		<key>type</key>
		<string>systolic</string>
		<key>shouldSubscribe</key>
		<false/>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierBloodPressureDiastolic</string>
		<key>unit</key>
		<string>mmHg</string>
		<key>type</key>
		<string>diastolic</string>
		<key>shouldSubscribe</key>
		<false/>
	</dict>
	<dict>
		<key>key</key>
		<string>HKCorrelationTypeIdentifierBloodPressure</string>
		<key>type</key>
		<string>blood_pressure</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKCorrelationTypeIdentifierFood</string>
		<key>type</key>
		<string>meal</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierStepCount</string>
		<key>unit</key>
		<string>count</string>
		<key>type</key>
		<string>activity_steps</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDistanceWalkingRunning</string>
		<key>unit</key>
		<string>km</string>
		<key>type</key>
		<string>activity_distance_running</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierDistanceCycling</string>
		<key>unit</key>
		<string>km</string>
		<key>type</key>
		<string>activity_distance_cycling</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierActiveEnergyBurned</string>
		<key>unit</key>
		<string>kcal</string>
		<key>type</key>
		<string>activity_calories</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HKQuantityTypeIdentifierHeartRate</string>
		<key>unit</key>
		<string>count/min</string>
		<key>type</key>
		<string>bpm</string>
	</dict>
</array>
</plist>
